<html>
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://fb.me/react-0.10.0.js"></script>
    <script type="text/javascript" src="http:///cdnjs.cloudflare.com/ajax/libs/react/0.10.0/JSXTransformer.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.0/semantic.min.js"></script>
    <script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
    <script type="text/javascript" src="../react-mixin-manager.js"></script>
    <script type="text/javascript" src="../react-semantic-ui.js"></script>
    <script type="text/javascript" src="../common.js"></script>

    <link rel="stylesheet" type="text/css" class="ui" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.0.0/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
    <div id="header"></div>
    <div id="example"></div>
  </body>
  <script type="text/javascript">
showTitle('Paginator', 'http://semantic-ui.com/collections/menu.html');

showExample('Radius',
'var Paginator = rsui.layout.Paginator,\
    handler = function(pageNumber) {\n\
      alert("page: " + pageNumber);\n\
    };\n\
var component = (\n\
  <div>\n\
  <Paginator totalPages={20} page={8} radius={3} anchor={1} onChange={handler}/>\n\
  </div>\n\
);'
);

showExample('Anchor',
'var Paginator = rsui.layout.Paginator,\n\
    clickHandler = function(pageNumber) {\n\
      console.log("page: " + pageNumber);\n\
    };\n\
var component = (\n\
  <div>\n\
    <p>\n\
      The "anchor" is the number of page links at the beginning and end of the list\n\
    </p>\n\
  <Paginator totalPages={20} page={8} radius={0} anchor={3}/>\n\
  </div>\n\
);'
);

showExample('Compact',
'var Paginator = rsui.layout.Paginator,\n\
    clickHandler = function(pageNumber) {\n\
      console.log("page: " + pageNumber);\n\
    };\n\
var component = (\n\
  <div>\n\
    <p>\n\
      Compact paginators have the left/right arrows in place of the page link separators\n\
    </p>\n\
  <Paginator totalPages={20} page={8} compact={true}/>\n\
  </div>\n\
);'
);
  </script>
</html>
